<%- include('partials/header', { pageTitle: pageTitle, query: query }) %>

    <div class="px-4 py-5 my-5 text-center">
        <% if (isAuthenticated) { %>
            <h1 class="display-5 fw-bold">Hello, <%= currentUser.name %>!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Welcome to your home page!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/members" class="btn btn-primary btn-lg px-4 gap-3">Members Area</a>
                    <a href="/logout" class="btn btn-outline-secondary btn-lg px-4">Logout</a>
                </div>
            </div>
            <% } else { %>
                <h1 class="display-5 fw-bold">Welcome to the Site!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Log in or sign up to access your account.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="/signup" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</a>
                        <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
                    </div>
                </div>
                <% } %>
    </div>

    <%- include('partials/footer') %>